@import "tailwindcss";

:root {
  --background: #E9E1D8;
  --foreground: #ffaf4e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #E9E1D8;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ffaf4e; 
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #646254;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #646254; 
  border-radius: 10px;
}
